<a href="https://colab.research.google.com/github/DmitryKutsev/ml_hw/blob/master/hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!curl --remote-name \
     -H 'Accept: application/vnd.github.v3.raw' \
     --location https://raw.githubusercontent.com/DmitryKutsev/ml_hw/master/weatherHistory.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 15.5M  100 15.5M    0     0  16.1M      0 --:--:-- --:--:-- --:--:-- 16.1M

In [0]:
import pandas as pd

In [0]:
weather_hist = pd.read_csv('weatherHistory.csv')

In [4]:
weather_hist.head(5)

                  Formatted Date  ...                      Daily Summary
0  2006-04-01 00:00:00.000 +0200  ...  Partly cloudy throughout the day.
1  2006-04-01 01:00:00.000 +0200  ...  Partly cloudy throughout the day.
2  2006-04-01 02:00:00.000 +0200  ...  Partly cloudy throughout the day.
3  2006-04-01 03:00:00.000 +0200  ...  Partly cloudy throughout the day.
4  2006-04-01 04:00:00.000 +0200  ...  Partly cloudy throughout the day.

[5 rows x 12 columns]

In [0]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [6]:
weather_hist.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [0]:
weather_hist['visibility'] = weather_hist['Visibility (km)']
weather_hist['wind_bearing'] = weather_hist['Wind Bearing (degrees)']
weather_hist['pressure'] = weather_hist['Pressure (millibars)']
weather_hist.drop(['Visibility (km)', 'Wind Bearing (degrees)', 'Pressure (millibars)'], axis=1, inplace=True)

In [8]:
weather_hist.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Loud Cover', 'Daily Summary', 'visibility', 'wind_bearing',
       'pressure'],
      dtype='object')

In [9]:
weather_hist['wind_bearing'].value_counts()

0.0      2264
150.0    1799
160.0    1631
140.0    1509
310.0    1452
         ...
65.0       52
95.0       48
83.0       48
86.0       47
94.0       44
Name: wind_bearing, Length: 360, dtype: int64

In [10]:
f_coldest_day = weather_hist.loc[weather_hist['Temperature (C)'] == weather_hist['Temperature (C)'].min()]['Formatted Date']
f_windy_day = weather_hist.loc[weather_hist['wind_bearing'] == weather_hist['wind_bearing'].max()]['Formatted Date']  
print(str(f_coldest_day).split(' ')[4], ' Самый холодный день')
print(str(f_windy_day).split(' ')[6], ' Самый ветренный день')

2012-02-10  Самый холодный день
2006-04-14  Самый ветренный день

In [0]:
rainy_days = weather_hist.loc[weather_hist['Precip Type'] == 'rain'].sum(axis=1)
rainy_days = str(rainy_days).split(':')[1][1:6]

In [12]:
print("Дождливых дней ", rainy_days)

Дождливых дней  85224

In [13]:
weather_hist.groupby('Formatted Date').head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Loud Cover,Daily Summary,visibility,wind_bearing,pressure
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,0.0,Partly cloudy throughout the day.,15.8263,251.0,1015.13
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,0.0,Partly cloudy throughout the day.,15.8263,259.0,1015.63
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,0.0,Partly cloudy throughout the day.,14.9569,204.0,1015.94
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,0.0,Partly cloudy throughout the day.,15.8263,269.0,1016.41
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,0.0,Partly cloudy throughout the day.,15.8263,259.0,1016.51
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,0.0,Partly cloudy starting in the morning.,16.1000,31.0,1014.36
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,0.0,Partly cloudy starting in the morning.,15.5526,20.0,1015.16
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,0.0,Partly cloudy starting in the morning.,16.1000,30.0,1015.66
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,0.0,Partly cloudy starting in the morning.,16.1000,20.0,1015.95
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,0.0,Partly cloudy starting in the morning.,15.5204,39.0,1016.16

In [0]:
import datetime as dt
import numpy as np
weather_hist['Formatted Date'] = pd.to_datetime(weather_hist['Formatted Date'], utc=True)

In [0]:
weather_hist['year'] = weather_hist['Formatted Date'].dt.year
weather_hist['month'] = weather_hist['Formatted Date'].dt.month
weather_hist['week'] = weather_hist['Formatted Date'].dt.week

In [155]:
grouped_mon = weather_hist.groupby(['month']).aggregate(np.median)
grouped_mon

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Loud Cover,visibility,wind_bearing,pressure,year,week
month,,,,,,,,,,
1,1.038889,-1.950000,0.87,10.69040,0.0,8.0500,172.0,1020.300,2011,3
2,2.222222,-0.591667,0.84,11.12510,0.0,9.9015,177.0,1017.105,2011,7
3,7.155556,4.708333,0.73,11.76105,0.0,10.3523,190.0,1016.645,2011,11
4,12.305556,12.305556,0.66,10.94800,0.0,11.0285,180.0,1014.805,2011,16
5,16.161111,16.161111,0.72,10.33620,0.0,11.2056,190.0,1014.380,2011,20
6,20.072222,20.072222,0.72,9.22530,0.0,11.2700,216.0,1014.525,2011,24
7,22.311111,22.311111,0.65,9.22530,0.0,11.2056,214.0,1014.660,2011,29
8,21.919444,21.919444,0.65,8.12245,0.0,11.2700,202.0,1015.095,2011,33
9,17.155556,17.155556,0.73,8.87915,0.0,10.3523,182.0,1016.780,2011,37
10,11.080556,11.080556,0.82,9.33800,0.0,9.9820,160.0,1019.770,2011,42
11,6.347222,4.619444,0.85,10.09470,0.0,9.4185,161.0,1019.470,2011,46
12,1.775000,-1.047222,0.89,10.14300,0.0,6.2951,171.0,1020.140,2011,50

In [160]:
print("самый ветренный месяц: ", grouped_mon['Wind Speed (km/h)'].idxmax())

самый ветренный месяц:  3

In [161]:
grouped_year = weather_hist.groupby(['year']).aggregate(np.median)
grouped_year

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Loud Cover,visibility,wind_bearing,pressure,month,week
year,,,,,,,,,,
2005,0.577778,-4.050000,0.89,17.1143,0.0,9.9820,140.0,1016.66,12.0,52.0
2006,11.711111,11.711111,0.81,9.3541,0.0,9.9820,186.0,1017.43,7.0,27.0
2007,11.138889,11.138889,0.74,9.7888,0.0,10.0303,198.0,1016.51,7.0,26.0
2008,11.577778,11.577778,0.74,10.6421,0.0,9.9820,190.0,1016.55,7.0,26.0
2009,12.508333,12.508333,0.76,10.9963,0.0,9.9820,170.0,1016.50,7.0,27.0
2010,11.975000,11.975000,0.85,10.4650,0.0,9.9820,183.5,1014.21,7.0,27.0
2011,11.688889,11.688889,0.79,9.1126,0.0,9.9820,181.0,1018.20,7.0,27.0
2012,12.222222,12.222222,0.73,10.5616,0.0,9.9820,180.0,1016.10,7.0,26.5
2013,11.941667,11.941667,0.80,10.2074,0.0,10.8997,183.0,1015.88,7.0,26.0
2014,12.355556,12.355556,0.80,9.8532,0.0,10.3523,160.0,1014.98,7.0,26.0
2015,12.055556,12.055556,0.78,9.7888,0.0,10.3523,180.0,1017.52,7.0,27.0
2016,11.088889,11.088889,0.81,10.0625,0.0,10.3523,175.0,1017.08,7.0,27.0

In [167]:
print("самый влажный год: ", grouped_year['Humidity'].idxmax())

самый влажный год:  2005

In [195]:
weather_hist['weathers'] = weather_hist[['Humidity','Wind Speed (km/h)','Temperature (C)']].sum(axis=1)
grouped_week = weather_hist.groupby(['week']).aggregate(np.std)
grouped_week.head()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Loud Cover,visibility,wind_bearing,pressure,year,month,weathers
week,,,,,,,,,,,
1,5.008042,5.530550,0.101536,7.393594,0.0,4.314909,97.107004,246.685649,3.135699,3.698766,10.326384
2,4.811115,5.394467,0.113069,6.531584,0.0,4.991813,99.837951,89.103028,3.163134,0.000000,9.262631
3,4.532339,5.165160,0.107841,6.884513,0.0,4.638049,91.283170,67.561625,3.163134,0.000000,9.478147
4,5.482606,6.102784,0.118193,7.777317,0.0,4.480531,111.060259,42.686836,3.163134,0.000000,10.801582
5,5.251543,5.925691,0.132209,8.692668,0.0,4.409161,104.658320,122.760869,3.163134,0.495006,11.717043

In [196]:
print("самая переменчивая неделя: ", grouped_week['weathers'].idxmax())

самая переменчивая неделя:  5