<a href="https://colab.research.google.com/github/DmitryKutsev/ml_hw/blob/master/hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!curl --remote-name \
     -H 'Accept: application/vnd.github.v3.raw' \
     --location https://raw.githubusercontent.com/DmitryKutsev/ml_hw/master/weatherHistory.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 15.5M  100 15.5M    0     0  16.9M      0 --:--:-- --:--:-- --:--:-- 16.9M

In [0]:
import pandas as pd

In [0]:
weather_hist = pd.read_csv('weatherHistory.csv')

In [5]:
weather_hist.head(5)

                  Formatted Date  ...                      Daily Summary
0  2006-04-01 00:00:00.000 +0200  ...  Partly cloudy throughout the day.
1  2006-04-01 01:00:00.000 +0200  ...  Partly cloudy throughout the day.
2  2006-04-01 02:00:00.000 +0200  ...  Partly cloudy throughout the day.
3  2006-04-01 03:00:00.000 +0200  ...  Partly cloudy throughout the day.
4  2006-04-01 04:00:00.000 +0200  ...  Partly cloudy throughout the day.

[5 rows x 12 columns]

In [0]:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [7]:
weather_hist.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [0]:
weather_hist['visibility'] = weather_hist['Visibility (km)']
weather_hist['wind_bearing'] = weather_hist['Wind Bearing (degrees)']
weather_hist['pressure'] = weather_hist['Pressure (millibars)']
weather_hist.drop(['Visibility (km)', 'Wind Bearing (degrees)', 'Pressure (millibars)'], axis=1, inplace=True)

In [9]:
weather_hist.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Loud Cover', 'Daily Summary', 'visibility', 'wind_bearing',
       'pressure'],
      dtype='object')

In [10]:
weather_hist['wind_bearing'].value_counts()

0.0      2264
150.0    1799
160.0    1631
140.0    1509
310.0    1452
         ...
65.0       52
95.0       48
83.0       48
86.0       47
94.0       44
Name: wind_bearing, Length: 360, dtype: int64

In [11]:
f_coldest_day = weather_hist.loc[weather_hist['Temperature (C)'] == weather_hist['Temperature (C)'].min()]['Formatted Date']
f_windy_day = weather_hist.loc[weather_hist['wind_bearing'] == weather_hist['wind_bearing'].max()]['Formatted Date']  
print(str(f_coldest_day).split(' ')[4], ' Самый холодный день')
print(str(f_windy_day).split(' ')[6], ' Самый ветренный день')

2012-02-10  Самый холодный день
2006-04-14  Самый ветренный день

In [0]:
rainy_days = weather_hist.loc[weather_hist['Precip Type'] == 'rain'].sum(axis=1)
rainy_days = str(rainy_days).split(':')[1][1:6]

In [27]:
print("Дождливых дней ", rainy_days)

Дождливых дней  85224